.u-alert {
  &__warning {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border: 1px solid;
    border-color: rgba(254, 206, 70, 1);
    border-radius: 5px;
    background-color: rgba(243, 230, 188, 1);
  }

  &__info {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border: 1px solid;
    border-color: rgba(184, 217, 255, 1);
    border-radius: 5px;
    background-color: rgba(203, 229, 255, 1);
  }

  &__error {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border: 1px solid;
    border-color: hsl(356, 70%, 60%);
    border-radius: 5px;
    background-color: hsl(356, 70%, 91%);
  }
}
