.hr {
  height: 1px;
  border: 0;
  margin: 2px 0 20px;
  background-color: #393d4c;
}

.hr-medium {
  height: 1px;
  border: 0;
  background-color: #ebebeb;
}

.hr-light {
  height: 1px;
  border: 0;
  margin: 10px 0;
  background-color: #f3f3f3;
}
