.h1,
.h2,
.h3,
.h4,
.h5 {
  padding: 1rem 0 0.25rem;
  margin: 0;
  color: getcolor(text);
  font-weight: 300;
  text-transform: uppercase;
}

.h1 {
  padding-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  text-transform: none;
}

.h2 {
  color: black;
  font-size: 2rem;
  text-transform: none;
}

.header-section {
  // @extend .h2;
  padding-bottom: 1rem;
  text-align: center;
}

.h3 {
  font-size: 1.25rem;
}
